@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

button {
  cursor: pointer;
}

.navBar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navList {
  list-style: none;
  display: flex;
}

.navBarLinks {
  text-decoration: none;
  margin: 0 0.5rem;
  color: black;
}

.signUpButton {
  text-decoration: none;
  margin: 0.5rem;
  color: black;
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accountFormBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.accountFormInnerBox {
  width: 24rem;
  border: 1px solid;
  border-radius: 0.25rem;
  background-color: #ffffff;
  padding: 2.5rem 1.75rem;
}

.accountFormHeader {
  font-size: 1.5rem;
  margin-bottom: 1.75rem;
}

.usernameInput, .passwordInput {
  width: 80%;
  font-size: 0.875rem;
  background-color: transparent;
  border-width: 1.5px;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  outline: none;
}

.dateOfBirthInput {
  width: 85%;
  font-size: 0.875rem;
  background-color: transparent;
  border-width: 1.5px;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  outline: none;
}

#dateOfBirthLabel {
  font-size: 0.875rem;
  margin: 0 0.5rem;
  padding-bottom: 1rem;
  white-space: nowrap;
}

.dateOfBirthBox {
  font-size: 0.875rem;
  background-color: transparent;
  border-width: 1.5px;
  padding: 0 1.25rem;
  width: 90%;
  border-radius: 0.25rem;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signUpBox {
  width: 100%;
}

.error {
  color:crimson;
}

.primary-btn {
  width: 90%;
  font-size: 0.875rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 0.25rem 0;
}

.accountFormInnerBox .primary-btn {
  margin-bottom: 16px;
}

.navBarBtn {
  padding: 0.5rem;
  margin: 0.25rem 0.5rem;
}

.homepageContainer {
  display: flex;
  justify-content: space-around;
  height: 80vh;
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: default;
}

.overdueAndRemindersBox, .upcomingAndPriorityBox, .assistantCharacterBox{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /*
  border: 1px black;
  border-style: solid;
  */
}

.overdueAndRemindersBox, .upcomingAndPriorityBox {
  width: 37.5%;
  flex: 1;
}

.assistantCharacterBox {
  width: 25%
}

.addEditTaskContainer {
  position: relative;
  z-index: 10;
}

.closeAddEditModalBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  background: none;
  border: none;
}

.closeAddEditModalBtn::before {
  content: "\00D7";
  font-size: 50px;
}

.addEditTaskContainer label {
  font-size: 1.5rem;
}

.titleBox, .categoryBox, .priorityBox, .deadlineBox, .reminderBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.categoryBox {
  margin-top: 1rem;
}

.titleInput, .categoryInput {
  font-size: 1.25rem;
  color: #0f172a;
  outline: none;
}

.categoryBox {
  margin-top: 1rem;
}

.descriptionBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

#priority, .deadlineInput, .reminderInput {
  font-size: 0.875rem;
  padding: 0.5rem;
}

.descriptionInput {
  font-size: 0.875rem;
  color: #0f172a;
  outline: none;
  background-color: #f8fafc;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.priorityAndDatesBox {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.saveTaskBtn {
  font-weight: 500;
  margin-top: 1.25rem;
  padding: 0.75rem;
  width: 100%;
}

.compDelTasksContainer {
  position: relative;
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.closeSmallModalBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 2rem;
  position: absolute;
  top: -0.5rem;
  right: -1rem;
  background: none;
  border: none;
}

.closeSmallModalBtn::before {
  content: "\00D7";
  font-size: 50px;
}

.confirmMessage {

}

.confirmCompDelBtn {
  font-weight: 500;
  padding: 0.5rem;
  width: 100%;
}

.tasksContainer {
  background-color: #f0f0f0;
  width: 85%;
  height: 80%;
  color: black;
  padding: 0rem;
  margin: 5px 0px;
  /* border: 2px dotted black; */
  border: 2px solid #000000;
  gap: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.tasksBox {
  overflow-y: auto;
  flex: 1;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.tasksBox ul {
  margin: 4px 16px 16px 16px;
}

.task {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.taskInnerBox {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleAndPriorityBox {
  display: flex;
  flex-direction: column;
  height:100%;
  align-items: flex-start;
}

.taskTitle {
  margin: 0;
  font-weight: bold;
}

.taskPriorityAndCategory {
  font-weight: bold;
  font-size: 10px;
}

.tasksBoxTitleBox {
  height: 12%;
  flex: 0 0 auto;
}

.taskActions {
  display:flex;
  align-items: stretch;
}

ul li {
  list-style: none;
}

.tasksBox ul li {
  min-height: 30px;
  margin: 1px 0px;
  padding: 2px;
  background-color: #f0f0f0;
  border-radius: 4px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
}

ul {
  padding: 0.25rem;
}

.AddEditTaskModal {
  width: 60%;
  height: 70%;
  background-color: white;
  border-radius: 0.375rem;
  padding: 1.25rem;
}

.CompDelTaskModal {
  width: 30%;
  height: 20%;
  background-color: white;
  border-radius: 0.375rem;
  padding: 1.25rem;
}

.titleCloseBtnBox {
  display: flex;
  justify-content: space-between;
}

.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasksPageContainer {
  display: flex;
  height: 80vh;
}

.tasksSidebar {
  width: 15%;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: 80vh;
}

.tasksSidebar h2 {
  margin-top: 0;
}

.tasksSidebar ul {
  list-style-type: none;
  padding: 0;
}

.tasksSidebar ul li {
  margin: 10px 0;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.tasksSidebar ul li:hover {
  background-color: #ddd;
}

.detailedTasksContainer {
  padding: 16px;
  overflow: hidden;
  flex: 1;
  background-color: #f0f0f0;
  height: 80vh;
  width: 90%;
  color: black;
  padding: 0rem;
  /* border: 2px dotted black; */
  gap: 0;
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 20px;
  overflow-y: auto;
}

.tasksGridBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  overflow-y: auto;
  padding: 10px;
}

.grid-item {
  background-color: #ddd;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}

.taskCardBox {
  background-color: #fff;
  min-width: 250px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.taskCardHeader{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-wrap: break-word;
  flex: 0 0 auto;
}

.taskCardRightHeader {
  font-weight: bold;
  max-width: 110px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.taskCardTitle {
  font-size: 18px;
  font-weight: bold;
  overflow-wrap: break-word;
}

.taskCardDeadline {
  font-size: 14px;
  flex-grow: 0;
  flex-shrink: 0;
}

.taskCardDeleteBtn {
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 3px;
}

.taskCardSecondHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  flex: 0 0 auto;
  font-weight: bold;
}

.taskCardCategory, .taskCardPriority {
  font-size: 14px;
}

.taskCardDescription {
  width: 100%;
  text-align: left;
  font-size: 14px;
  color: #333;
  line-height: 1.5em;
  max-height: calc(8 * 1.5em); /* Max 8 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  word-break: break-all;
  flex: 1;
}

.taskCardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  flex: 0 0 auto;
}

.taskReminder {
  font-size: 14px;
  font-weight: bold;
}

.taskCardEditBtn, .taskCardCompleteBtn {
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.addTaskBtn {
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.addTaskBtn::before {
  content: '+';
  margin-right: 5px;
  font-size: 16px;
  line-height: 1;
}

.taskCardCompleteBtn::before {
  content: "\2713";
  margin-right: 5px;
}

.nameAndPoints {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 59px;
  cursor: pointer;
}

.username {
  font-weight: bold;
  margin: 0px;
}

.points {
  font-size: 10px;
  margin: 0px;
}

.categoriesSidebar {
  margin: 16px 0px 0px 0px;
  font-weight: bold;
}

#category-list {
  overflow-y: auto;
  max-height: 90%;
}

.taskEditButton, .taskCrossButton, .taskTickButton {
  min-height: 80%;
}

.taskCrossButton::before {
  content: "\00D7";
  font-size: 18px;
}

.taskTickButton::before {
  content: "\2713";
  font-size: 14px;
}

.productivityBar {
  width: 80%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 4px;
  overflow: hidden;
}

.productivity {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  position: relative;
}

.productivity::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(135deg, transparent 8px, rgba(255, 255, 255, 0.5) 8px, rgba(255, 255, 255, 0.5) 16px, transparent 16px);
  background-size: 30px 30px;
  z-index: 1;
}

.productivityPercent {
  color: black;
  font-weight: bold;
  padding: 0 8px;
}

.productivityBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addButtonBox {
  /* border: 1px dotted #000; */
  height: 8%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userDisplayBox {
  /* border: 1px dotted #000; */
  height: 40%;
  width: 90%;
  display: flex;
}

.userDisplayBox {
  flex-direction: column;
  justify-content: space-evenly;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.invisibleBox {
  height: 110px;
  position: relative;
  /* border: 1px solid red; */
}

.Home .invisibleBox {
  position: relative;
  display: inline-block;
}

.ChatPage .invisibleBox {
  position: absolute;
  left: 25%;
  top: 40%;
  z-index: 4;
  /* border: 2px solid blue; */
}


.AIBox {
  justify-content: center;
  border: 10px solid rgb(11, 82, 187);
  border-radius: 20px;
  border-width: 4px;
  padding: 13px;
  word-wrap: break-word;
  align-self: flex-end;
  cursor: default;
  user-select: none;
  font-weight: bold;
  font-size: large;
  color: #000000;
  background-color: rgb(202, 240, 255);
  z-index: 4;
}

.AIBox:hover {
  transform: scale(1.02);
}

#assistantAvatar {
  border: 1px solid black;
  border-radius: 50%;
  pointer-events: none;
}

.Home #assistantAvatar {
  height: 200px;
  width: 200px;
  position: relative;
  margin-top: 8px;
}

.ChatPage {
  /* border: 1px solid black; */
  position: relative;
}

.ChatPage #assistantAvatar {
  height: 370px;
  width: 350px;
  top: 30%;
  right: 20%;
  z-index: 3;
}

.ChatPage .assistantAvatarDiv{
  /* border: 1px solid red; */
  width: 400px;
  position: absolute;
  left: 50%;
}

.fadeIn {
  animation: fadeIn 1.5s;
}

.fadeOut {
  animation: fadeOut 1.5s;
}

.container input {
  margin: 15px;
  border-top: 0px solid black;
  border-bottom: 0px solid black;
  border-left: 0px solid black;
  border-right: 0px solid black;
  padding: 20px;
  word-wrap: break-word;
  background: 
    linear-gradient(90deg, black, black)left bottom/0px 3px no-repeat,
    linear-gradient(90deg, grey, grey) left bottom/100% 3px no-repeat,
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom/100% no-repeat;
  transition: background-size 0.3s ease;
}

.container input:valid ~ .border:before,
.container input:focus ~ .border:before {
  width: 100%;
  height: 100%;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  transition: 
    width 0.3s ease 0.3s,
    height 0.3s ease 0.3s;
}

#chatbox::placeholder {
  transition: 0.3s ease;
}

#chatbox:focus::placeholder {
  color: transparent;
}

#chatbox {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.BirthdayCardModal {
  position: absolute;
  width: 25%;
  height: 70%;
  min-width: 500px;
  max-width: 30%;
  min-height: 700px;
  max-height: 70%;
  background-color: white;
  border-radius: 0.375rem;
  padding: 1.25rem;
  overflow-wrap: break-word;
}

.birthdayCardModalBtn:before {
  content: "\00D7";
  font-size: 50px;
  margin-top: 10px;
  margin-right: 10px;
}

.birthdayCardModalBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  background: none;
  border: none;
}

#birthdayCard {
  background: url('../../images/birthdaycardbackground.png');
  width: 100%;
  height: 100%;
  max-width: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.birthdayMessageTitle {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
  font-size: 30px;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  align-items: center;
}

.addressName {
  font-weight: bold;
}

.addressing, .birthdayMessageBody, .endOfBirthdayMessage{
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
  margin-top: 30px;
  margin-left: 70px;
  margin-right: 70px;
  align-items: center;
  position: inherit;
  display: inline-block;
}

.birthdayCardAssistantImg {
  width: 20%;
  height: 15%;
  position: absolute;
  display:inline-block;
  top: 550px;
  right: 100px;
  pointer-events: none;
}

.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}

.profileInnerBox {
  display: flex;
  width: 80%;
  max-width: 1200px;
  height: 80%;
}

.userProfileBox,
.friendsBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.userProfileBox .profilePic {
  width: 100px;
  height: 100px;
  background-color: #eee;
  border-radius: 50%;
  margin-bottom: 20px;
  /* Add background image and other styling here */
}

.userProfileBox .profileUsernameBox,
.userProfileBox .profileDateOfBirthBox,
.userProfileBox .profilePointsBox {
  margin: 10px 0;
}

.friendsBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.currentFriendsBox {
  flex: 7;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
}

.friendRequestsBox {
  flex: 3;
  overflow-y: auto;
}

.friend,
.friendRequest {
  padding: 10px;
  margin: 5px 0;
  border-bottom: 1px solid #ccc;
}


/*
  Borders for visualisation
    1. homepageContainer
    2. overdueAndRemindersBox
    3. upcomingAndPriorityBox
    4. assistantCharacterBox
    5. tasksContainer
    6. addButtonBox
    7. userDisplayBox
    8. assistantCharacterBox
    9. tasksPageContainer
*/