body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.navBar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* equivalent to drop-shadow */
}

.navList {
  list-style: none; /* Remove bullet points */
  display: flex; /* Display list items in a row */
}

.navBarLinks, .signUpButton {
  text-decoration: none; /* Remove underline */
  margin: 0 0.5rem;
  color: black;
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accountFormBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.accountFormInnerBox {
  width: 24rem;
  border: 1px solid;
  border-radius: 0.25rem;
  background-color: #ffffff;
  padding: 2.5rem 1.75rem;
}

.accountFormHeader {
  font-size: 1.5rem;
  margin-bottom: 1.75rem;
}

.usernameInput, .passwordInput, .dateOfBirthInput {
  width: 80%;
  font-size: 0.875rem;
  background-color: transparent;
  border-width: 1.5px;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  outline: none;
}

.error {
  color:crimson;
}

.primary-btn {
  width: 90%;
  font-size: 0.875rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 0.25rem 0;
}

.navBarBtn {
  padding: 0.5rem;
  margin: 0.25rem 0.5rem;
}
