{% extends "base.html" %} 

{% block title %} 
Home
{% endblock %}

{% block content %}
<h1 align = "center"> Notes </h1>
<!-- Display all notes added -->
<u1 class = "list-group list-group-flush" id = "notes">
    {% for note in user.notes %}
    <li class = "list-group-item">
        {{ note.data }}
        <!-- This is how you delete something -->
        <button type = "button" class = "close" onClick = "deleteNote({{note.id}})">
            <span aria-hidden = "true">
                &times;
            </span>
        </button>
    </li>
    {% endfor %}
</u1>
<!-- Creates a POST request with data defined for submission -->
<form method = 'POST'>
    <textarea name = "note" id = "note" class = "form-control">

    </textarea>
    <br />
        <div align = "center">
            <button type = "submit" class = "btn btn-primary">
                Add Note
            </button>
        </div>
</form>
{% endblock %}