{% extends "base.html" %} 

{% block title %} 
Sign Up
{% endblock %}

{% block content %}

<!-- Creates a POST request with data defined for submission -->
<form method = "POST">
    <h3 align = "center"> Sign Up </h3>
    <div class = "form-group">
        <label for = "email"> Email Address </label>
        <input 
            type = "email" 
            class = "form-control" 
            id = "email" 
            name = "email" 
            placeholder = "Enter Email"
        />
    </div>
    <div class = "form-group">
        <label for = "firstName"> First Name </label>
        <input
            type = "firstName"
            class = "form-control"
            id = "firstName"
            name = "firstName"
            placeholder = "Enter First Name"
        />
    </div>
    <div class = "form-group">
        <label for = "password"> Password </label>
        <input 
            type = "password"
            class = "form-control"
            id = "password"
            name = "password"
            placeholder = "Enter Password"
        />
    </div>
    <div class = "form-group">
        <label for = "passwordConfirm"> Password (Confirm) </label>
        <input 
            type = "password"
            class = "form-control"
            id = "passwordConfirm"
            name = "passwordConfirm"
            placeholder = "Confirm Password"
        />
    </div>
    <br />
    <!-- Submits a POST request with data defined to auth.py -->
    <button type = "submit" class = "btn btn-primary"> Submit </button>
</form>
      {% endblock %}